<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Ask</title>
</head>
<body>
    <header class="header">
        <div class="logo">Ask</div>
        <div class="search_header">
            <form> 
                <input type="text" name=text" class="search" placeholder="Search here!">
                <input type="submit" name="submit" class="submit" value="Ask!">
            </form>
        </div>
        <nav class="nav_header">
            <ul class="ul_header">
                <li class="li_header">
                    <a href="#" class="verification">log in</a>
                </li>
                <li class="li_header">
                    <a href="#" class="verification">register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="left">
        </div>
        <div class="right">
            <div class="Popular_Tags">
                <p class="tags">Popular Tags</p>
                <ul class="ul_popular">  
                    <li class="li_popular">
                        <a href="#" class="perl">perl</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="python">python</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="tech">TechnoPark</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="sql">MySql</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="django">django</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="mail">Mail.Ru</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="vol">Voloshin</a>
                    </li>
                    <li class="li_popular">
                        <a href="#" class="fox">FireFox</a>
                    </li>
                </ul>
            </div>
            <div class="Best_Members">
                <ul class="ul_best">
                    <p class="tags">Best Members</p>
                    <li class="li_best">
                        <a href="#" class="link_best">Mr.Freeman</a>
                    </li>
                    <li class="li_best">
                        <a href="#" class="link_best">Dr.House</a>
                    </li>
                    <li class="li_best">
                        <a href="#" class="link_best">Bender</a>
                    </li>
                    <li class="li_best">
                        <a href="#" class="link_best">Queen Victoria</a>
                    </li>
                    <li class="li_best">
                        <a href="#" class="link_best">V.Pupkin</a>
                    </li>
                </ul> 
            </div>
        </div>
    </main>
    <footer class="footer">

    </footer>
</body>
</html>